/*
Error: Undefined variable: "$screen-xs-max".
        on line 19 of assets/styles/sass/header.scss
        from line 5 of assets/styles/sass/main.scss

Backtrace:
assets/styles/sass/header.scss:19
assets/styles/sass/main.scss:5
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/script/tree/node.rb:50:in `perform'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:555:in `block in run_interp_no_strip'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:553:in `map'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:553:in `run_interp_no_strip'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:560:in `run_interp'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:525:in `visit_media'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:88:in `block in with_import'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:88:in `with_import'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/LydivetteRoldan/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$screen-xs-max\".\A         on line 19 of assets/styles/sass/header.scss\A         from line 5 of assets/styles/sass/main.scss"; }
